
.home {
    display: flex;
    flex-direction: column;
    height: 100vh;
    
}

.logo {
    margin-bottom: 30px;
}


.home__header {
    display: flex;
    
    margin-bottom: 150px;
    justify-content: space-between;
    color: #555555;
}

.home__body {
    text-align: center;
}

.home__header a {
    text-decoration: none;
    margin-right: 20px;
    color: #555555;
}

.home__headerRight,
.home__headerLeft
 {
    display: flex;
    align-items: center;
}
/* .home__headerLeft a,
.home__headerRight a {
     text-decoration: none;
    margin-right: 10px; 
    
} */
.icons {
    display: flex;
    align-items: center;
    min-width: 80px;
    justify-content: space-between;
    
}

.home__headerRight a:hover, 
.home__headerLeft a:hover {
    text-decoration: underline;
   
}

a:visited {
    color: inherit;
}

